@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
}

<span style="font-size:x-large">@Model.Name</span>
<span>(@Html.ActionLink("Edit", "EditMovie", "Movies", new { Id = Model.Id }, null))</span>
<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Release date:@Model.ReleaseDate.ToShortDateString()</li>
    <li>Date added: @Model.DateAdded.ToShortDateString()</li>
    <li>Number in Stock: @Model.NumberInStock</li>
</ul>
