@model Vidly.ViewModels.CustomerFormViewModel
@{ 
    ViewBag.Title = "New";
}

@if (Model.Customer == null)
{
    Model.Customer = new Vidly.Models.Customer { Id=0};//ovo napravis kako bi mogao u kontroleru provjeriti ModelState.IsValid
    //mada mozda bolje ne ovo raditi, nego ubaciti validacije na polja

    <h2>New Customer</h2>
}
else
{
    <h2>Edit Customer: @Model.Customer.Name</h2>
}

@*using zatvara formu, kao npr </form>, dok beginform otvara <form>*@
@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control"})@*dodas html attribute: bootrap klasu, kako bi input field dobio temu*@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}",new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Choose..", new { @class = "form-control" })
        <!--                                                                   gdje se nalaze podaci, Id od tablice, sto zelis prikazatu u dropdown-->
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribe to Newsletter?@*ovako i kad kliknes na labelu, checkbox ce se toglati*@
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)<!--moras proslijediti i id, bit ce 0 ako je create new customer, jer je za int default 0-->
    <div>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
}
