@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
}



@if (Object.ReferenceEquals(Model, null))
{
    <h4>Bad request.</h4>
}
else
{
    <span style="font-size:x-large">@Model.Name</span> 
    <span >(@Html.ActionLink("Edit", "Edit", "Customers", new { Id = Model.Id }, null))</span>

    <ul>
        <li>Membership Type: @Model.MembershipType.Name</li>
        @if (Model.Birthdate.HasValue)
        {
            <li>Birthdate: @Html.Label(string.Format("{0:d MMM yyyy}", Model.Birthdate))</li>
            <li>Birthdate: @Model.Birthdate.Value.ToShortDateString()</li>
        }
    </ul>
}