@model Vidly.ViewModels.NewCustomerViewModel
    ViewBag.Title = "New";
}

<h2>New Customer</h2>

@*using zatvara formu, kao npr </form>, dok beginform otvara <form>*@
@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control"})@*dodas html attribute: bootrap klasu, kako bi input field dobio temu*@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribe to Newsletter?@*ovako i kad kliknes na labelu, checkbox ce se toglati*@
        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Choose..", new { @class = "form-control" })
        <!--                                                                   gdje se nalaze podaci, Id od tablice, sto zelis prikazatu u dropdown-->
    </div>
}
